
.container-fluid
{
    
    position: fixed;
    z-index: 1;
    margin: 0px;
    top: 0px;
    background-color: black;
}
#home
{
     height="130" max-width="100%"
  display: block;
  float: left;
  border-radius:30%
}
iframe
{
    margin-top: 5px;
    max-width: 100%;
    height: 200px;
}
.container-fluid a
{
    
    display:block;
    float: right;
    color:floralwhite;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    
    
    
    
}

.container-fluid a:hover
{
    color:orange;  
}
.container-fluid a:active
{
    color:cyan;  
}

input:focus 
{ 
    outline: none !important;
    border-color:white;
    box-shadow: 0 0 10px black;
}

.container-fluid input[type=text]
{    
    float: right;
    color: orange;
    padding: 0px;
    box-shadow: 2px 5px orange;
    margin-top: 7px;
    margin-right: 2px;
    font-size: 1.5vw;
    background-color: white;
    border-radius:30px 2px;

}

::placeholder{
    padding-left: 15px;
}
li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  top:200px;
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
}
figcaption {
  display: block;
}
.wo-h3 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e60012;
}
.c-label {
  display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1.4rem;
  font-weight: bold;
}
.view-sm {
  display: none;
}
.js-slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
}
.js-slider_nav_item.prev {
  left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 4rem;
  height: 4rem;
  border: 1px solid orange;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 1rem;
  top: 55%;
  width: 1rem;
  height: 1px;
  background-color: orange;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
   transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
   transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 2rem;
  height: 1px;
  background-color: orange;
  transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 63%;
  width: 100%;
  text-align: center;
}
.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}
.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: orange;
  transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
  
  /* ACTIVE NAVIGATION ANCHOR */
  .CSSgal >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
  #s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
  #s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
  #s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
  #s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }
  
  /* PREV/NEXT CONTAINERS VISIBILITY */
  .CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
  #s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
  #s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
  #s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
  #s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }
  
  /* SLIDER ANIMATION POSITIONS */
  #s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
  #s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
  #s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
  #s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }
  

  footer
  {
    background-color: black;
    position: relative;
    top:200px;
  }
  #foot
  {
    border-radius: 50%;
    border: solid orange 5px;
  }
  .bottom
  {
      
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gallery
  {
    top:400px;
    position: relative;
    text-align: center;
    color:white;
    overflow-y:hidden;
    overflow-x: hidden;
    border:solid 2px black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
  }
  #gall
  {
    border:solid 2px white;
    border-top-left-radius:40px ;
    border-bottom-right-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #gall:hover
  {
    zoom: 130%;
    border:solid 3px orange;
  }

  .figGall
  {
    margin-left: 15px;
    float: left;
  }
  
  h6{
    color: black;
  }

  figcaption:hover{
    color: black;
  }
  

















.light
{
    height:800px;
    background-color: white;
    padding-right: 9%;
    padding-left: 9%;
}
.container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin:0 auto; /* Center it */
  }
  /*img
  {
    padding-left: 10px;
    padding-right: 10px;
  }*/
  .container img {vertical-align: middle;}

   .content {
    position: absolute; /* Position the background text */
    bottom: 120px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(173, 216, 230); /* Fallback color */
    background: rgb(173, 216, 230, 0.5);/* Blue background with 0.5 opacity */
    color:black; /* Grey text */
    height: 30%;
    width: 100%;
    font-family:Sofia;
   
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content:flex-end;
    text-align: right;
    color: black;
    font-family:Sofia;
    width: 150px;
    line-height: 26px;
    margin-bottom: 10px;
  }

 /* input 
  {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    justify-content:center;
  }*/
  div:nth-child(7)>input
  {
      padding-right: 18%;
  }
 
  .form
  {
    border-top-right-radius: 15px;
    background-color: pink;
    text-align: center;
   display: flex;
   justify-content: space-around;
    width: 100%;
    padding-right: 20px;
      
   
  }
  h1
  {
    color:orange;
    font-weight: bolder;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
  }
  .sub{
    text-align: center;
  }
 
  .hedding{
    justify-content: space-around;
  }
  form{
            position: absolute;
            top: 200px;
            
            
        }
        
        legend{
            color:orange;
            font-size: 60px;
        }

/*input[type=text]{
  width:35%;
    background-color:rgb(180,133,81);
  color: black;
}*/
label{
  font-size: 20px;
  font-weight:bolder;
  font-family:cursive;
  
}
fieldset{
  box-shadow:7px 4px 10px 3px orange;
  background-color: cornsilk;
  opacity: 70%;
    margin-left: 100px;
    

}
textarea
{
   background-color:rgb(180,133,81);
  color:white;
}





@media screen and (min-width: 250px) and (max-width:560px)
{
   
.container-fluid
{
    background-color: black;
    position: fixed;
    z-index: 1;
    margin: 0px;
   
    top: 0px;
     
}
    iframe
{
    max-width: 100%;
    height: 200px;
    margin-top: 5px;
}
#home
{
  display: block;
  float: left;
  border-radius:30%;
  height:50px;
    padding-top: 2px;
    padding-bottom: 10px;
  margin-left: 0px;
}
.container-fluid a
{
    
    display:block;
    float: right;
    color:floralwhite;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    
    
    
    
}

.container-fluid a:hover
{
    color:orange;  
}
.container-fluid a:active
{
    color:cyan;  
}

input:focus 
{ 
    outline: none !important;
    border-color:white;
    box-shadow: 0 0 2px black;
}

.container-fluid input[type=text]
{    
    float: right;
    color: orange;
    padding: 0px;
    box-shadow: 1px 2px orange;
    margin-top: 7px;
    margin-right: 2px;
    font-size: 1.5vw;
    background-color: white;
    border-radius:30px 2px;

}

::placeholder{
    padding-left: 15px;
}
li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  top:0px;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
figcaption {
  display: block;
}
.wo-h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e60012;
}

.wo-credit
    {
        font-size: 15px;
    }
.c-label {
  display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}
.view-sm {
  display: none;
}
.js-slider_nav {
  position: absolute;
  left: 17px;
  top: 30%;
  width: 90%;
  transform: translate3d(0, -50%, 0);
}
.js-slider_nav_item.prev {
    
    left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 2rem;
  height: 2rem;
  border: 1px solid orange;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 55%;
  width: 0.5rem;
  height: 1px;
  background-color: orange;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
   transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
   transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1rem;
  height: 1px;
  background-color: orange;
  transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}
.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}
.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background: orange;
  transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
  
  /* ACTIVE NAVIGATION ANCHOR */
  .CSSgal >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
  #s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
  #s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
  #s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
  #s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }
  
  /* PREV/NEXT CONTAINERS VISIBILITY */
  .CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
  #s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
  #s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
  #s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
  #s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }
  
  /* SLIDER ANIMATION POSITIONS */
  #s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
  #s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
  #s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
  #s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }
  

  footer
  {
    background-color: black;
    position: relative;
    top:40px;
  }
  #foot
  {
       height:25px;
    width:25px;
    border-radius: 50%;
    border: solid orange 2px;
  }
  .bottom
  {
     
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gallery
  {
    top:50px;
    position: relative;
    text-align: center;
    color:white;
    overflow-y:hidden;
    overflow-x: hidden;
    border:solid 2px black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
  }
  #gall
  {
    border:solid 2px white;
    border-top-left-radius:10px ;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width:60px;
      max-height: 80px;
  }
  #gall:hover
  {
    zoom: 130%;
    border:solid 3px orange;
  }

  .figGall
  {
    margin-left: 15px;
    float: left;
  }
  
  h6{
    color: black;
  }

  figcaption:hover{
    color: black;
  }
  

















.light
{
    height:400px;
    background-color: white;
    padding-right: 9%;
    padding-left: 9%;
}
.container {
    position: relative;
    max-width: 400px; /* Maximum width */
    margin:0 auto; /* Center it */
  }
  /*img
  {
    padding-left: 10px;
    padding-right: 10px;
  }*/
  .container img {vertical-align: middle;}

   .content {
    position: absolute; /* Position the background text */
    bottom: 120px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(173, 216, 230); /* Fallback color */
    background: rgb(173, 216, 230, 0.5);/* Blue background with 0.5 opacity */
    color:black; /* Grey text */
    height: 30%;
    width: 100%;
    font-family:Sofia;
   
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content:flex-start;
    text-align: right;
    color: black;
    font-family:Sofia;
    width: 150px;
    line-height: 26px;
    margin-bottom: 10px;
  }

 /* input 
  {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    justify-content:center;
  }*/
  div:nth-child(7)>input
  {
      padding-right: 18%;
  }
 
  .form
  {
    border-top-right-radius: 15px;
    background-color: pink;
    text-align: center;
   display: flex;
   justify-content: space-around;
    width: 45%;
    padding-right: 0px;
    margin-left: 0px
      
   
  }
  h1
  {
    color:orange;
    font-weight: bolder;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
  }
  .sub{
    text-align: center;
  }
 
  .hedding{
    justify-content: space-around;
  }
  form{
            position: absolute;
            top: 100px;
            
            
        }
        
        legend{
            color:orange;
            font-size: 30px;
        }

/*input[type=text]{
  width:35%;
    background-color:rgb(180,133,81);
  color: black;
}*/
label{
  font-size: 10px;
  font-weight:bolder;
  font-family:cursive;
  
}
fieldset{
  box-shadow:7px 4px 10px 3px orange;
  background-color: cornsilk;
  opacity: 70%;
    margin-left: 10px;
    

}
textarea
{
   background-color:rgb(180,133,81);
  color:white;
}
 
}


@media screen and (min-width: 560px) and (max-width:1400px) 
{
   iframe
{
    margin-top: 5px;
    max-width: 100%;
    height: 200px;
}
.container-fluid
{
    background-color: black;
    position: fixed;
    z-index: 1;
    margin: 0px;
   
    top: 0px;
     
}
#home
{
  display: block;
  float: left;
  border-radius:30%;
  height:50px;
    padding-top: 2px;
    padding-bottom: 10px;
  margin-left: 0px;
}
.container-fluid a
{
    
    display:block;
    float: right;
    color:floralwhite;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    
    
    
    
}

.container-fluid a:hover
{
    color:orange;  
}
.container-fluid a:active
{
    color:cyan;  
}

input:focus 
{ 
    outline: none !important;
    border-color:white;
    box-shadow: 0 0 2px black;
}

.container-fluid input[type=text]
{    
    float: right;
    color: orange;
    padding: 0px;
    box-shadow: 1px 2px orange;
    margin-top: 7px;
    margin-right: 2px;
    font-size: 1.5vw;
    background-color: white;
    border-radius:30px 2px;

}

::placeholder{
    padding-left: 15px;
}
li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  top:0px;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
figcaption {
  display: block;
}
.wo-h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e60012;
}

.wo-credit
    {
        font-size: 15px;
    }
.c-label {
  display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}
.view-sm {
  display: none;
}
.js-slider_nav {
  position: absolute;
  left: 17px;
  top: 30%;
  width: 90%;
  transform: translate3d(0, -50%, 0);
}
.js-slider_nav_item.prev {
    
    left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 2rem;
  height: 2rem;
  border: 1px solid orange;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 55%;
  width: 0.5rem;
  height: 1px;
  background-color: orange;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
   transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
   transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1rem;
  height: 1px;
  background-color: orange;
  transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}
.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}
.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background: orange;
  transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
  
  /* ACTIVE NAVIGATION ANCHOR */
  .CSSgal >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
  #s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
  #s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
  #s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
  #s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }
  
  /* PREV/NEXT CONTAINERS VISIBILITY */
  .CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
  #s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
  #s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
  #s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
  #s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }
  
  /* SLIDER ANIMATION POSITIONS */
  #s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
  #s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
  #s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
  #s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }
  

  footer
  {
    background-color: black;
    position: relative;
    top:40px;
  }
  #foot
  {
       height:25px;
    width:25px;
    border-radius: 50%;
    border: solid orange 2px;
  }
  .bottom
  {
     
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gallery
  {
    top:50px;
    position: relative;
    text-align: center;
    color:white;
    overflow-y:hidden;
    overflow-x: hidden;
    border:solid 2px black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
  }
  #gall
  {
    border:solid 2px white;
    border-top-left-radius:10px ;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width:60px;
      max-height: 80px;
  }
  #gall:hover
  {
    zoom: 130%;
    border:solid 3px orange;
  }

  .figGall
  {
    margin-left: 15px;
    float: left;
  }
  
  h6{
    color: black;
  }

  figcaption:hover{
    color: black;
  }
  

















.light
{
    height:400px;
    background-color: white;
    padding-right: 9%;
    padding-left: 9%;
}
.container {
    position: relative;
    max-width: 400px; /* Maximum width */
    margin:0 auto; /* Center it */
  }
  /*img
  {
    padding-left: 10px;
    padding-right: 10px;
  }*/
  .container img {vertical-align: middle;}

   .content {
    position: absolute; /* Position the background text */
    bottom: 120px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(173, 216, 230); /* Fallback color */
    background: rgb(173, 216, 230, 0.5);/* Blue background with 0.5 opacity */
    color:black; /* Grey text */
    height: 30%;
    width: 100%;
    font-family:Sofia;
   
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content:flex-start;
    text-align: right;
    color: black;
    font-family:Sofia;
    width: 150px;
    line-height: 26px;
    margin-bottom: 10px;
  }

 /* input 
  {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    justify-content:center;
  }*/
  div:nth-child(7)>input
  {
      padding-right: 18%;
  }
 
  .form
  {
    border-top-right-radius: 15px;
    background-color: pink;
    text-align: center;
   display: flex;
   justify-content: space-around;
    width: 45%;
    padding-right: 0px;
    margin-left: 0px
      
   
  }
  h1
  {
    color:orange;
    font-weight: bolder;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
  }
  .sub{
    text-align: center;
  }
 
  .hedding{
    justify-content: space-around;
  }
  form{
            position: absolute;
            top: 100px;
            
            
        }
        
        legend{
            color:orange;
            font-size: 30px;
        }

/*input[type=text]{
  width:35%;
    background-color:rgb(180,133,81);
  color: black;
}*/
label{
  font-size: 10px;
  font-weight:bolder;
  font-family:cursive;
  
}
fieldset{
  box-shadow:7px 4px 10px 3px orange;
  background-color: cornsilk;
  opacity: 70%;
    margin-left: 10px;
    

}
textarea
{
   background-color:rgb(180,133,81);
  color:white;
}
 
}
@media screen and (max-width: 247px) 
{
   iframe
{
    max-width: 100%;
    height: 200px;
    margin-top: 5px;
}
.container-fluid
{
    background-color: black;
    position: fixed;
    z-index: 1;
    margin: 0px;
   
    top: 0px;
     
}
#home
{
  display: block;
  float: left;
  border-radius:30%;
  height:50px;
    padding-top: 2px;
    padding-bottom: 10px;
  margin-left: 0px;
}
.container-fluid a
{
    
    display:block;
    float: right;
    color:floralwhite;
    font-size: 2vw;
    font-weight: bolder;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    
    
    
    
}

.container-fluid a:hover
{
    color:orange;  
}
.container-fluid a:active
{
    color:cyan;  
}

input:focus 
{ 
    outline: none !important;
    border-color:white;
    box-shadow: 0 0 2px black;
}

.container-fluid input[type=text]
{    
    float: right;
    color: orange;
    padding: 0px;
    box-shadow: 1px 2px orange;
    margin-top: 7px;
    margin-right: 2px;
    font-size: 1.5vw;
    background-color: white;
    border-radius:30px 2px;

}

::placeholder{
    padding-left: 15px;
}
li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}
.js-slider {
  top:0px;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.js-slider_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: right center;
  transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
  transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}
#s-1:checked ~ .js-slider .js-slider_item.img-1,
#s-2:checked ~ .js-slider .js-slider_item.img-2,
#s-3:checked ~ .js-slider .js-slider_item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}
.js-slider_img {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.c-img-w-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
.c-img-h-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate3d(-50%, -50%, 0);
}
figcaption {
  display: block;
}
.wo-h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e60012;
}

.wo-credit
    {
        font-size: 15px;
    }
.c-label {
  display: inline-block;
  color: #eee;
  background-color: rgba(139,0,10,0.9);
  line-height: 1;
  padding: 0.5em 0.9em;
  margin-right: 0.5em;
  font-size: 1rem;
  font-weight: bold;
}
.view-sm {
  display: none;
}
.js-slider_nav {
  position: absolute;
  left: 17px;
  top: 30%;
  width: 90%;
  transform: translate3d(0, -50%, 0);
}
.js-slider_nav_item.prev {
    
    left: 0;
}
.js-slider_nav_item.next {
  right: 0;
  transform: rotateY(180deg);
}
.js-slider_nav_item {
  position: absolute;
  display: none;
  width: 2rem;
  height: 2rem;
  border: 1px solid orange;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 55%;
  width: 0.5rem;
  height: 1px;
  background-color: orange;
  transform-origin: left bottom;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.js-slider_nav_item:hover {
   transform: translate3d(-30%, 0, 0);
}
.js-slider_nav_item.next:hover {
   transform: rotateY(180deg) translate3d(-30%, 0, 0);
}
.js-slider_nav_item:hover:before {
  transform: translate3d(0, -50%, 0) rotate(-30deg);
}
.js-slider_nav_item:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1rem;
  height: 1px;
  background-color: orange;
  transform: translate3d(-50%, -50%, 0);
}
#s-1:checked ~ .js-slider .js-slider_nav .s-nav-1,
#s-2:checked ~ .js-slider .js-slider_nav .s-nav-2,
#s-3:checked ~ .js-slider .js-slider_nav .s-nav-3 {
  display: block;
}
.js-slider_indicator {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}
.js-slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;
}
.js-slider-indi:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  background: orange;
  transform: translate3d(-50%, -50%, 0);
}
.js-slider-indi:hover:after {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
#s-1:checked ~ .js-slider .js-slider_indicator .indi-1:after,
#s-2:checked ~ .js-slider .js-slider_indicator .indi-2:after,
#s-3:checked ~ .js-slider .js-slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
  
  /* ACTIVE NAVIGATION ANCHOR */
  .CSSgal >s:target ~ .bullets >* { background: rgba(255,255,255,0.5); }
  #s1:target ~ .bullets >*:nth-child(1){ background: rgba(255,255,255,  1); }
  #s2:target ~ .bullets >*:nth-child(2){ background: rgba(255,255,255,  1); }
  #s3:target ~ .bullets >*:nth-child(3){ background: rgba(255,255,255,  1); }
  #s4:target ~ .bullets >*:nth-child(4){ background: rgba(255,255,255,  1); }
  
  /* PREV/NEXT CONTAINERS VISIBILITY */
  .CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
  #s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
  #s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
  #s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
  #s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }
  
  /* SLIDER ANIMATION POSITIONS */
  #s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
  #s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
  #s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
  #s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }
  

  footer
  {
    background-color: black;
    position: relative;
    top:40px;
  }
  #foot
  {
       height:25px;
    width:25px;
    border-radius: 50%;
    border: solid orange 2px;
  }
  .bottom
  {
     
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gallery
  {
    top:50px;
    position: relative;
    text-align: center;
    color:white;
    overflow-y:hidden;
    overflow-x: hidden;
    border:solid 2px black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
  }
  #gall
  {
    border:solid 2px white;
    border-top-left-radius:10px ;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width:60px;
      max-height: 80px;
  }
  #gall:hover
  {
    zoom: 130%;
    border:solid 3px orange;
  }

  .figGall
  {
    margin-left: 15px;
    float: left;
  }
  
  h6{
    color: black;
  }

  figcaption:hover{
    color: black;
  }
  

















.light
{
    height:400px;
    background-color: white;
    padding-right: 9%;
    padding-left: 9%;
}
.container {
    position: relative;
    max-width: 400px; /* Maximum width */
    margin:0 auto; /* Center it */
  }
  /*img
  {
    padding-left: 10px;
    padding-right: 10px;
  }*/
  .container img {vertical-align: middle;}

   .content {
    position: absolute; /* Position the background text */
    bottom: 120px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(173, 216, 230); /* Fallback color */
    background: rgb(173, 216, 230, 0.5);/* Blue background with 0.5 opacity */
    color:black; /* Grey text */
    height: 30%;
    width: 100%;
    font-family:Sofia;
   
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content:flex-start;
    text-align: right;
    color: black;
    font-family:Sofia;
    width: 150px;
    line-height: 26px;
    margin-bottom: 10px;
  }

 /* input 
  {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    justify-content:center;
  }*/
  div:nth-child(7)>input
  {
      padding-right: 18%;
  }
 
  .form
  {
    border-top-right-radius: 15px;
    background-color: pink;
    text-align: center;
   display: flex;
   justify-content: space-around;
    width: 45%;
    padding-right: 0px;
    margin-left: 0px
      
   
  }
  h1
  {
    color:orange;
    font-weight: bolder;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
  }
  .sub{
    text-align: center;
  }
 
  .hedding{
    justify-content: space-around;
  }
  form{
            position: absolute;
            top: 100px;
            
            
        }
        
        legend{
            color:orange;
            font-size: 30px;
        }

/*input[type=text]{
  width:35%;
    background-color:rgb(180,133,81);
  color: black;
}*/
label{
  font-size: 10px;
  font-weight:bolder;
  font-family:cursive;
  
}
fieldset{
  box-shadow:7px 4px 10px 3px orange;
  background-color: cornsilk;
  opacity: 70%;
    margin-left: 10px;
    

}
textarea
{
   background-color:rgb(180,133,81);
  color:white;
}
 
}
